@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {

  .navLink {
    @apply text-primary font-medium text-xl;
  }
  .primary-btn {
    @apply font-jost bg-primary px-5 py-2.5 text-white capitalize text-center rounded-md shadow-md shadow-emerald-950/30 hover:bg-primary/80 transition ease-in-out delay-150 border-2 border-primary;
  }
  .primary-btn-outline {
    @apply font-jost bg-white px-5 py-2.5 text-primary capitalize text-center rounded-md shadow-md shadow-emerald-950/30 hover:bg-primary hover:text-white transition ease-in-out delay-150 border-2 border-primary;
  }
  .tag-name{
    @apply inline-block mx-0.5 text-primary bg-primary/20 px-2.5 rounded-full;
  }

  .section-title{
    @apply text-center font-medium text-2xl mb-2;
  }
  .section-heading{
    @apply text-center text-primary font-bold text-5xl;
  }
  .section-description{
    @apply text-center text-[#111111] font-normal text-xl mt-4;
  }
}

@layer components {
  .animate-updown {
      animation-name: animate-updownAnim;
      animation-duration: 2s;
      animation-iteration-count: infinite;
      animation-direction: alternate-reverse;
  }

  @keyframes animate-updownAnim {
      from {
          transform: translateY(-20px);
      }
      to {
          transform: translateY(20px);
      }
  }
}
